{% extends 'flatpages/default.html' %}

{% load widget_tweaks %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="profile-change-form">
                {% csrf_token %}
                <div class="fieldWrapper profile-change-form">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                </div>
                <div class="fieldWrapper profile-change-form">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>
                <div class="fieldWrapper profile-change-form">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                <br>
                <span>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                    <a class="password-change-back" href="{% url 'main_profile' %}">Назад</a>
                </span>
            </form>
        </div>
    </div>
</div>
{% endblock content %}