<form action="" method="post" style="display: inline-block">
    {% csrf_token %}
    {% if is_user_follower %}
    <button name="unsub" type="submit" class="inline-button-in-detail-view">
        <img class="small-icons-post-img" src="{% static 'img/icons/bookmark_add.png' %}">
    </button>
    {% else %}
    <button name="sub" type="submit" class="inline-button-in-detail-view">
        <img class="small-icons-post-img" src="{% static 'img/icons/bookmark_not_add.png' %}">
    </button>
    {% endif %}
    </form>