{% load static %}
{% load custom_filters %}

{% for post in announcements %}
{% if forloop.last %}
<div class="container announce-block" hx-get="{% url 'main_page' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
{% else %}
<div class="container announce-block">
{% endif %}
    <div class="row">
        <div class="col-md-12">
            <span><a href="#" class="post-author">{{ post.author }}</a>, <span class="time-next-to-username">{{ post.time_in }}</span>,
            <b>{{ post.id |define_category }}</b></span>
            <div class="post-content">
                <div class="row">
                    <div class="col-md-4">
                        <p><img class="image-cover-post" src="{{ post.cover.url }}"></p>
                    </div>
                    <div class="col-md-8 text-center my-auto">
                        <p><a href="detail/{{ post.id }}" class="post-link mx-auto">{{ post.title }}</a></p>                        
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4">
            <span class="small-icons-post">
                {% if post.id in liked_posts %}
                    <img class="small-icons-post-img" id="subimage" src="{% static 'img/icons/favourite_filled.png' %}">
                {% else %}
                    <img class="small-icons-post-img" id="subimage" src="{% static 'img/icons/favourite_empty.png' %}">
                {% endif %}
                {{ post.id |total_likes }}
                {% if post.id in follow_posts %}
                    <img class="small-icons-post-img" id="subimage" src="{% static 'img/icons/bookmark_add.png' %}">
                {% else %}
                    <img class="small-icons-post-img" id="subimage" src="{% static 'img/icons/bookmark_not_add.png' %}">
                {% endif %}
                {{ post.id |total_followers }}
            </span>
            </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}