<div class="container profile-content">
    <div class="row">
        <div class="col-md-4">
            Пикча
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="#" hx-get="/prof_main">Активная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Статистика</a>
                </li>
              </ul>
            <table class="profile-table" id="profile-table">
                <tr>
                    <td><b>Всего откликов:</b></td>
                    <td>{{ total_replies }}</td>
                </tr>
                <tr>
                    <td><a class="post-link" href="{% url 'total_replies' %}">Посмотреть объявления с откликом</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>