{% extends "flatpages/default.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Выход</h1>
            <p>Вы действитель хотите выйти?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <p>
                <button class="btn btn-primary" type="submit">Выйти</button>
                </p>
              </form>
        </div>
    </div>
</div>

{% endblock %}
