{% extends "flatpages/default.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Подтвердите свой E-mail</h1>
                <p>
                    Мы отправили письмо с подтверждением на E-mail, указанный при регистрации. Перейдите по ссылке, чтобы подтвердить свою почту.
                    Если Вы не видите письмо во "Входящих", проверьте папку "Спам". Пожалуйста, свяжитесь с нами, если Вы не получили письмо в течении 5 минут.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
