{% extends 'flatpages/default.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}
{% for announcement in announcements %}
<div class="container announce-block">
    <div class="row">
        <div class="col-md-12">
            <span><a href="#" class="post-author">{{ announcement.author }}</a>, <span class="time-next-to-username">{{ announcement.time_in }}</span></span>
            <div class="post-content text-center">
            <p><a href="#" class="post-link">{{ announcement.title }}</a></p>
            <p><img class="image-cover-post" src="{{ announcement.cover.url }}"></p>
            </div>
            <span class="small-icons-post">
                <a href="#"><img class="small-icons-post-img" src="{% static 'img/icons/favourite_empty.png' %}"></a>
                {{ announcement.like }}
                <a href="#"><img class="small-icons-post-img" src="{% static 'img/icons/bookmark_not_add.png' %}"></a>
                {{ announcement.id |total_followers }}
            </span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}