<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Здравствуйте, <b>{{ reply.author }}!</b>
                </p>
                <p>
                    Ващ отклик на публикацию <<b>{{ reply.post.title }}</b>> был принят пользователем <b>{{ reply.post.author }}</b>!
                </p>
            </div>
        </div>
    </div>
</body>
</html>